.element--styled-title { 
    $styled-title_height: 17px;
    
    .header-with-bg {
        min-height: $styled-title_height;
        text-align: center;    
        line-height: 0; 
        overflow: auto;
    }
    .block {
        padding: 0em 40px;
        display: inline-block;
        height: $styled-title_height;
        font-size: 13px;
        line-height: $styled-title_height;
    }
    .bg-white {
        background-color: white;
        color: black;
    }
    .bg-black {
        background-color: black;
        color: white;
    }
     
    .slashed-line-withmargins,
    .slashed-line,
    .dotted-line {
        background-repeat: repeat;
    }
    .dotted-line {
        background: url("../img/dotted-line.png");
    }    
    .slashed-line-withmargins {
        background: url("../img/slashed-line-withmargins.png");
        background-repeat: repeat-x; 
    }    
    .slashed-line {
        background: url("../img/slashed-line.png");
    }
}