.element--img--block {
    width: 200px;
    height: 300px;

    .image-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        
        .column-image {
            position: absolute;
            width: 100%;
            height: 100%; 
            top: 0; left: 0;
            
            background-size: cover;
            background-position: 50% 50%;
        }
        .column-body {
            position: absolute;

            width: 130px;
            height: 80px;
            right: -5px;
            bottom: 40px;

            padding: 0.5em 1em;

            color: white;
            background-color: black;
        }
        .column-content {
            opacity: 0;
            padding: 0 15px;
            text-align: center;
        }
    }
    .block {
        line-height: 1.5;

        .block--title {
            font-size: 90%;
        }
        .block--desc {
            font-size: 110%;
            font-style: italic;
            font-weight: 700;
        }
        .block--divider {
            width: 100%;
            height: 5px;
            display: block;
            margin-top: 7px;

            background-image: url("/assets/img/slashed-line.png");
        }
    }
}

.element--img--block--image-2-3 {
    .image-wrapper {  
        padding-bottom: 149.25%;
    }
}
.element--img--block--image-3-2 {
    width: 630px;
    height: 420px;

    .image-wrapper {  
        padding-bottom: 66.8%;

        .column-body {
            width: 200px;
            height: 115px;
            left: -5px;
            top: 40px;
            
            text-align: center;
            font-style: italic;
        } 
    } 
}
.element--img--block--image-2-3--tall {
    width: 640px;
    height: 960px;

    .image-wrapper {
        padding-bottom: 150.1%;

        .column-body {
            top: 50px;
            width: 200px;
            height: 140px;

            text-align: right;
        } 
    }
}