.element--hilighted-articles {
    $hilighted-article-width: 50%;
    $hilighted-article-image_size: 90px;
    $hilighted-article-mobile: 640px;
    
    .article {
        width: $hilighted-article-width;
    }
    
    .article-list {
        margin-left: 0;
        
        &.double {
            .article {
                display: inline-block;
                
                &:nth-child(odd) {
                    float: left;
                    text-align: left;
                    
                    border-right: 1px solid gray;
                }
                &:nth-child(even) {
                    float: right;
                    text-align: right;
                }
            }
        }
    }
    .article-smallimg,
    .article-info {
        display: inline-block;
        vertical-align: top;
        
        &.mobile {
            display: block;
            width: 100%;
        }
    }
    .article-smallimg {
        width: $hilighted-article-image_size;
        height: $hilighted-article-image_size;
    }
    .article-info {
        width: 80%;
        width: calc(100% - #{$hilighted-article-image_size});
        padding: 0 0.5em;
        
        .article-date {
            font-size: 9px;
            color: #979797;
        }
        .article-title {
            height: 58px;
            font-size: 19px; 
            line-height: 1.0;
        }
        
        @media screen and (max-width: $hilighted-article-mobile) {
            width: 100%;
        }
    }
    
    ul {
        li {
            list-style: none;
            padding: 0;
        }
        li a {
            display: block;
        }
    }
}