.element--styled-title { 
    $styled-title_height: 17px;
    
    .title {
        min-height: $styled-title_height;
        background-repeat: repeat;
        line-height: 0; 
        text-align: center;    
        overflow: auto;
    }
    .block {
        display: inline-block;
        height: $styled-title_height;
        padding: 0em 40px;
        font-size: 13px;
        line-height: $styled-title_height;
    }
    .bg-white {
        background-color: white;
        color: black;
    }
    .bg-black {
        background-color: black;
        color: white;
    }
}