.element--img--block {
    width: 227px;
    height: 339px;

    .image-wrapper {
        width: 100%;
        height: 100%;
        padding-bottom: 100%;
        position: relative;
        
        .column-image {
            position: absolute;
            width: 100%;
            height: 100%; 
            top: 0; left: 0;
            
            background-size: cover;
            background-position: 50% 50%;
        }
        .column-body {
            position: absolute;

            width: 130px;
            height: 80px;
            right: -5px;
            bottom: 40px;

            padding: 0.5em 1em;

            color: white;
            background-color: black;
        }
        .column-content {
            opacity: 0;
            padding: 0 15px;
            text-align: center;
        }
    }
    .block {
        line-height: 1.5;

        .block--title {
            font-size: 90%;
        }
        .block--desc {
            font-size: 110%;
            font-style: italic;
            font-weight: 700;
        }
        .block--divider {
            width: 100%;
            height: 5px;
            display: block;
            margin-top: 7px;

            background-image: url("/assets/img/slashed-line.png");
        }
    }
}

.element--img--block--images-9-16 {
    .image-wrapper {  
        padding-bottom: 149.25%;
    }
}