// Mixins
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}
@mixin transitionWithTransform($args...) {
    -webkit-transition: -webkit-transform $args;
    -moz-transition: -moz-transform $args;
    -ms-transition: -ms-transform $args;
    -o-transition: -o-transform $args;
    transition: transform $args;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); // IE8
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

// Vertical alignment 
.va-container {
    position: relative;
}
.va-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.va-middle {
    display: table-cell;
    vertical-align: middle;
}
.va-inner {
    margin-left: auto;
    margin-right: auto;
}