{# 9/16 images #}
<h3>Basic version: 9/16 images</h3>
<div class="element--img--block element--img--block--image-9-16">
	<div class="image-wrapper">
		<div class="column-image" style="background-image:url({{image}})"></div>
		<div class="column-body block">
			<span class="block--title">{{title}}</span>
			<span class="block--desc">{{desc}}</span>
			<span class="block--divider"></span>
		</div>
	</div>
</div>