{# 9/16 images #}
<h3>Basic version: 9/16 images</h3>
<div class="element--img--hover element--img--hover--images-9-16">
    <div class="image-wrapper">
        <div class="column-image" style="background-image:url({{image}})"></div>
        <div class="column-body hide-for-small-only ">
            <div class="va-outer"><div class="va-middle"><div class="va-inner column-content">
                {{body}}
            </div></div></div>
        </div>
    </div>
    <div class="column-body show-for-small-only">
        {{body}}
    </div>
</div>