{# 9/16 images #}
<h3>Basic version: 9/16 images</h3>
<div class="row element--img-row--block element--img-row--block--images-9-16">
	{% for img in images %}
		<div class="{% if loop.last and loop.index is odd %}hide-for-small-only{% endif %} small-6 medium-4 columns {% if loop.last %}end{% endif %}">
			<div class="image-wrapper">
				<div class="column-image" style="background-image:url({{img.image}})"></div>
				<div class="column-body block">
					<span class="block--title">{{img.title}}</span>
					<span class="block--desc">{{img.desc}}</span>
					<span class="block--divider"></span>
				</div>
			</div>
		</div>
	{% endfor %}
</div>