{# STYLED TITLE #}
<h3>Basic version</h3>
<div class="element--styled-title">
    <div class="header-with-bg slashed-line-withmargins">
        <div class="block bg-white">This is a title</div>                        
    </div>
</div>