{# NAV FIXED TOP #}
<h3>Full width</h3>
<nav class="nav--fixedtop">
    <div class="row main-container">
        <div class="small-2 columns logoimg">
            <a href="#"><img src="https://placehold.it/135x30"></a>
        </div>
        <div class="small-8 columns">
            <ul class="row page-nav">
                <li class="small-2 columns">
                    <span class="has-submenu"><a href="#">Categories</a> <a href="#" class="toggle-submenu">v</a></span>
                    <div class="submenu">
                        <div class="row submenu-container">
                            <div class="small-2 columns">&nbsp;</div>
                            <div class="small-8 columns">
                                <ul class="row submenu-items-container">
                                    <li class="small-2 columns"><a href="#">Outfits</a></li>
                                    <li class="small-2 columns"><a href="#">Beauty</a></li>
                                    <li class="small-2 columns"><a href="#">Lifestyle</a></li>
                                    <li class="small-2 columns"><a href="#">Travel</a></li>
                                    <li class="small-2 columns end"><a href="#">Personal</a></li>
                                </ul>
                            </div>
                            <div class="small-2 columns">&nbsp;</div>
                        </div>
                    </div>
                </li>
                <li class="small-2 columns"><a href="#">Archive</a></li>
                <li class="small-2 columns"><a href="#">About</a></li>
                <li class="small-2 columns"><a href="#">Contact</a></li>
                <li class="small-2 columns">
                    <span class="has-submenu"><a href="#">Shop</a> <a href="#" class="toggle-submenu">v</a></span>
                    <div class="submenu">
                        <div class="row submenu-container">
                            <div class="small-2 columns">&nbsp;</div>
                            <div class="small-8 columns">
                                <ul class="row submenu-items-container">
                                    <li class="small-2 columns"><a href="#">Test</a></li>
                                    <li class="small-2 columns"><a href="#">Test</a></li>
                                    <li class="small-2 columns end"><a href="#">Test</a></li>
                                </ul>
                            </div>
                            <div class="small-2 columns">&nbsp;</div>
                        </div>
                    </div>
                </li>
                <li class="small-2 columns">
                    <ul class="lang-menu">
                        <li><a href="#">FI</a></li>
                        <li><a href="#">ENG</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="small-2 columns">search</div>
    </div>
</nav>

<script type="text/javascript">
    var nav_fixedtop;

    (nav_fixedtop = function() {
        "use strict";

        var $nav = $("nav.nav--fixedtop");
        var $prev_active_submenu = null;

        $(".toggle-submenu").on("click", function(event) {
            event.preventDefault();

            var $submenu = findSubmenu($(this));
            var is_being_closed = isSubmenuOpen($submenu) && isSubmenuOpen($prev_active_submenu);
            
            closeSubmenu($prev_active_submenu);

            if (!is_being_closed) 
                openSubmenu($submenu);
        });

        function findSubmenu($toggleBtn) {
            return $toggleBtn.parent().next(".submenu:first");
        }
        function isSubmenuOpen($submenu) {
            return $submenu !== null && $submenu.hasClass("active");
        }
        function openSubmenu($submenu) {
            $nav.addClass("submenu-open");
            $submenu.addClass("active");    

            $prev_active_submenu = $submenu;
        }
        function closeSubmenu($submenu) {
            $nav.removeClass("submenu-open");

            if ($submenu !== null)
                $submenu.removeClass("active");

            $prev_active_submenu = null;
        }
    })();
</script>