<div class="row row--three-columns--images row--layout-{{layout}}">
	<div class="large-4 small-6 columns">
		<div class="image-wrapper">
			<div class="image-wrapper-image"></div>
		</div>
		<h3 class="title--three-columns">{{columnTitle1}}</h3>
	</div>
	<div class="large-4 small-6 columns">
		<div class="image-wrapper">
			<div class="image-wrapper-image"></div>
		</div>
		<h3 class="title--three-columns">{{columnTitle2}}</h3>
	</div>
	<div class="large-4 small-6 columns">
		<div class="image-wrapper">
			<div class="image-wrapper-image"></div>
		</div>
		<h3 class="title--three-columns">{{columnTitle3}}</h3>
	</div>
</div>